# Daily minimum temperatures in Melbourne, Australia, 1981-1990

In [1]:
import pandas as pd
# read data

In [ ]:
df = pd.read_csv('daily-minimum-temper.csv')
df

In [3]:
# type(df.iloc[0,0])
# type(df.iloc[0,1])

In [4]:
import datetime
# convert data
# (datetime.date(2017,3,22) - datetime.date(2017,3,12)).days

In [5]:
def xy(datestr):
    yy = int(datestr.split('-')[0])
    mm = int(datestr.split('-')[1])
    dd = int(datestr.split('-')[2])
    b = datetime.date(yy,1,1)
    d = datetime.date(yy,mm,dd)
    x = d.year - 1981
    y = (d - b).days
    return [x,y]

In [6]:
def z(datastr):
    if '?' in datastr:
        datastr = datastr[1:]
    return float(datastr)

In [ ]:
x_axis = [str(i) for i in range(1981,1991)]
print(x_axis)
y_axis = [str(i) for i in range(1,367)]
print(y_axis)
data = []
for i in df.index:
    subdata = xy(df.iloc[i,0])
    subdata.append(z(df.iloc[i,1]))
    data.append(subdata)
print(data)

In [8]:
from pyecharts.charts import Bar3D

import pyecharts.options as opts
# paint

In [ ]:
res = (
    Bar3D(init_opts=opts.InitOpts(width="900px", height="600px")).add(
        series_name="",
        data=data,
        xaxis3d_opts=opts.Axis3DOpts(type_="category", data=x_axis),
        yaxis3d_opts=opts.Axis3DOpts(type_="category", data=y_axis),
        zaxis3d_opts=opts.Axis3DOpts(type_="value"),
    ).set_global_opts(
        title_opts=opts.TitleOpts("Daily minimum temperatures in Melbourne, Australia, 1981-1990"),
        visualmap_opts=opts.VisualMapOpts(
            max_=20,
            range_color=[
                "#313695", "#4575b4", "#74add1", "#abd9e9", "#e0f3f8", "#ffffbf", "#fee090", "#fdae61", "#f46d43",
                "#d73027", "#a50026",
            ],
        )
    )
)
res.render_notebook()